body {
  margin: 0 auto;
  padding: 1rem;
}
/* #main {
  height: 100vh;
  width: 70.71vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
} */
header {
  position: relative;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #717171;
}
header p {
  position: absolute;
  transform: translateY(130%);
  bottom: 0;
  background-color: #fff;
  padding: 0 1rem;
  color: #717171;
}
main {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  color: #5d5d5d;
  margin-top: 5vw;
}
section {
  /* /lllll */
}
h1 {
  margin: 0;
  font-weight: 700;
  color: #1089b3;
}
span {
  font-size: 1em;
}
.span-bold {
  font-weight: 600;
  text-transform: capitalize;
}
ul {
  margin: 0;
  color: #838383;
  margin-bottom: 1em;
}
.block {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  column-gap: 0.5rem;
  margin-block-start: 1em;
}
.skill-name {
  text-transform: capitalize;
}
.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.marked {
  color: #0d8ab6;
}
.unmarked {
  color: #cccccc;
}
.title {
  color: #61b8d6;
  font-weight: 600;
  text-align: start;
  width: 100%;
  border-bottom: 2px solid #8c8c8c;
}
.title-spaced {
  margin-bottom: 1em;
}
.title h2 {
  border: 0;
  margin-block: 0;
  margin-inline: 0;
}
